<% provide(:title, 'Teams') %>
<h1>Teams</h1>

<ul class="teams">
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team %>
    </li>
  <% end %>
  <br>
  <%= link_to "Add Team", new_team_path, class: "btn btn-large btn-primary" %>
</ul>