
<% provide(:title, 'Home') %>
<h1>Spirit Board</h1>
<p>
  Spirit Board helps you track spirit scores for an ultimate frisbee tournament!
  <a href="https://en.wikipedia.org/wiki/Ultimate_(sport)">What is Ultimate?</a>
</p>



