
<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h2>Welcome to Spirit Board!</h2>
	<p>
	  Spirit scores for 'Chennai Heat 2015' Ultimate Frisbee tournament.
	</p>
	<%= link_to "Teams", teams_path, class: "btn btn-large btn-primary" %>
</div>


