
<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h2>Welcome to Spirit Board app!</h2>
	<p>
	  Spirit Board app helps you track spirit scores for your ultimate frisbee tournament!
	</p>
	<%= link_to "Teams", teams_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Scores", '#', class: "btn btn-large btn-primary" %>
</div>


